<div class="main-content">
    

        <h2>PolicyGroups</h2>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 30%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                    <th>Example</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter">
                            <p>policyGroupId</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Id of the policy group</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#integer">integer</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">1</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyGroupName</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Name of the policy group</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">default</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>description</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Description of the policy group</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">Default policy group</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>throttlingTier</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Throttling tier</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">Bronze,Silver,Gold,Unlimited</p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>userRoles</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">The name of the uri template policy group</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#array">array</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>policyPartialMapping</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Entitlement policy partial name list</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#array">array</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked"></p></td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            <p>allowAnonymousAccess</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td class="parameter"><p class="marked">Allow anonymous access to mobile</p></td>
                        <td class="parameter">
                            
                                <a href="#!/models#string">string</a>
                            
                        </td>
                        <td class="parameter"> <p class="marked">null</p></td>
                        <td class="parameter"> <p class="marked">GET,POST,PUT,DELETE,OPTION</p></td>
                    </tr>
                
                </tbody>
            </table>
    
</div>
