<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>{{include title}} | Entgra App Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap -->
    <link href="{{url "/themes/mobileapp/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/mobileapp/css/bootstrap-responsive.min.css"}}" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/mobileapp/css/font-awesome.min.css"}}">

    <!-- Token input -->
    <link rel="stylesheet" href="{{url "/themes/mobileapp/js/token.input/css/token-input-facebook.css"}}">

    <!-- publisher styles -->
    <link rel="shortcut icon" href="https://entgra.io/assets/logos/favicon.png" type="image/x-icon" />
    <link href="{{url "/themes/mobileapp/css/es-publisher-commons.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/mobileapp/css/navigation.css"}}" rel="stylesheet" media="screen">
    <script src="{{url "/themes/mobileapp/js/modernizr.custom.js"}}"></script>

    <link href="{{url "/themes/mobileapp/assets/dropdown/css/msdropdown/dd.css"}}" rel="stylesheet" media="screen">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{url "/themes/mobileapp/js/respond.min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/selectivizr-min.js"}}"></script>
    <link rel="stylesheet" href="{{url "/themes/mobileapp/css/ie.css"}}" type="text/css">
    <![endif]-->

    {{css}}
</head>

<body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
        {{ include header}}
        <!-- Begin page content -->
        <div class="container-assets container">
            {{include ribbon}}
            {{include heading}}
            <div class="row">
                <div class="col-md-12">
                    {{include listassets}}
                </div>
            </div>
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">
            {{>footer}}
        </div>
    </div>
    <script src="{{url "/csrf.js"}}" type="text/javascript" ></script>
    <script src="{{url "/themes/mobileapp/js/jquery-1.10.2.min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/jquery.form.min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/assets/dropdown/js/msdropdown/jquery.dd.min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/bootstrap.min.js"}}"></script>

    <script src="{{url "/themes/mobileapp/js/sugyama.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/raphael-min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/graph.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/token.input/jquery.tokeninput.js"}}"></script>

    <script src="{{url "/themes/mobileapp/assets/noty/jquery.noty.js"}}"></script>
    <script src="{{url "/themes/mobileapp/assets/noty/layouts/center.js"}}"></script>
    <script src="{{url "/themes/mobileapp/assets/noty/themes/default.js"}}"></script>

    <script src="{{url "/themes/mobileapp/js/publisher.commons.js"}}"></script>
    {{js}}
    {{code}}
</body>
</html>

