<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>{{include title}} | Entgra App Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="{{url "/themes/appm/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/appm/css/font-awesome.min.css"}}">


    <!-- Token input -->
    <link rel="stylesheet" href="{{url "/themes/appm/js/token.input/css/token-input-facebook.css"}}">


    <!-- publisher styles -->
    <link rel="shortcut icon" href="https://entgra.io/assets/logos/favicon.png" type="image/x-icon" />
    <link href="{{url "/themes/appm/css/es-publisher-commons.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/appm/css/appm-publisher.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/appm/css/navigation.css"}}" rel="stylesheet" media="screen">
    <link class="jsbin" href="{{url "/themes/appm/css/jquery-ui.min.css"}}" rel="stylesheet" type="text/css">

    <script src="{{url "/themes/appm/js/modernizr.custom.js"}}"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{url "/themes/default/js/respond.min.js"}}"></script>
    <script src="{{url "/themes/default/js/selectivizr-min.js"}}"></script>
    <link rel="stylesheet" href="{{url "/themes/default/css/ie.css"}}" type="text/css">
    <![endif]-->
    {{css}}
</head>
<body>



    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
        {{ include header}}
        <!-- Begin page content -->

        <div class="container-assets container">

            <div class="content-area-cont">
                {{include ribbon}}
                {{include heading}}
                <div class="row content-area">
                    <div class="col-md-12 publisher-right">
                        {{include listassets}}
                    </div>
                </div>

            </div>
        </div>


    </div>

    <div id="push"></div>
    <div id="footer">
        <div class="container">
            {{>footer}}
        </div>
    </div>

    <script src="{{url "/csrf.js"}}" type="text/javascript" ></script>
    <script src="{{url "/themes/appm/js/jquery-1.10.2.min.js"}}"></script>
    <script src="{{url "/themes/appm/js/jquery.js"}}"></script>
    <script src="{{url "/themes/appm/js/busunessOwners.js"}}"></script>
    <script src="{{url "/themes/appm/js/jquery.form.min.js"}}"></script>
    <script src="{{url "/themes/appm/js/bootstrap.min.js"}}"></script>
    <script src="{{url "/themes/appm/js/publisher.commons.js"}}"></script>
    <script src="{{url "/themes/appm/js/lc.processor.js"}}"></script>
    <script src="{{url "/themes/appm/js/sugyama.js"}}"></script>
    <script src="{{url "/themes/appm/js/raphael-min.js"}}"></script>
    <script src="{{url "/themes/appm/js/graph.js"}}"></script>
    <script src="{{url "/themes/appm/js/token.input/jquery.tokeninput.js"}}"></script>
    <script class="jsbin" src="{{url "/themes/appm/js/jquery-ui.js"}}"></script>
    <!-- <script type="text/javascript" src="{{url "/themes/appm/js/jquery.dialogextend.js"}}"></script> -->
    <script src="{{url "/themes/appm/js/handlebars-1.1.2.js"}}"></script>

    <script src="{{url "/themes/appm/assets/noty/jquery.noty.js"}}"></script>
    <script src="{{url "/themes/appm/assets/noty/layouts/center.js"}}"></script>
    <script src="{{url "/themes/appm/assets/noty/themes/default.js"}}"></script>

    {{js}}
    {{code}}
</body>
</html>

