/*
~   Copyright (c) WSO2 Inc. (http://wso2.com) All Rights Reserved.
~
~   Licensed under the Apache License, Version 2.0 (the "License");
~   you may not use this file except in compliance with the License.
~   You may obtain a copy of the License at
~
~        http://www.apache.org/licenses/LICENSE-2.0
~
~   Unless required by applicable law or agreed to in writing, software
~   distributed under the License is distributed on an "AS IS" BASIS,
~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~   See the License for the specific language governing permissions and
~   limitations under the License.
*/
/* ========================================================================
 * methods/mixins
 * ======================================================================== */
/* ========================================================================
 * default values
 * ======================================================================== */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: "normal";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto") format("svg");
}

/* ========================================================================
 * loading fonts
 * ======================================================================== */
/* ========================================================================
 * icon styles
 * ======================================================================== */
.icon-success {
  color: #5cb85c;
}

.icon-info {
  color: #009DA7;
}

.icon-warning {
  color: #f0ad4e;
}

.icon-danger {
  color: #d9534f;
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-up:before,
[aria-expanded='true'] > .icon.toggle-icon-up:before {
  content: '\e684';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-down:before,
[aria-expanded='true'] > .icon.toggle-icon-down:before {
  content: '\e685';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-left:before,
[aria-expanded='true'] > .icon.toggle-icon-left:before {
  content: '\e686';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-right:before,
[aria-expanded='true'] > .icon.toggle-icon-right:before {
  content: '\e687';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-up-arrow:before,
[aria-expanded='true'] > .icon.toggle-icon-up-arrow:before {
  content: '\e688';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-down-arrow:before,
[aria-expanded='true'] > .icon.toggle-icon-down-arrow:before {
  content: '\e689';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-left-arrow:before,
[aria-expanded='true'] > .icon.toggle-icon-left-arrow:before {
  content: '\e68a';
}

[aria-expanded='true'] > .icon.fw-stack > .toggle-icon-right-arrow:before,
[aria-expanded='true'] > .icon.toggle-icon-right-arrow:before {
  content: '\e68b';
}

/* ========================================================================
 * document styles
 * ======================================================================== */
* {
  outline: none !important;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

body {
  color: #222;
  margin-bottom: 40px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: normal;
  width: 100%;
  overflow-x: hidden;
  background-color: #EFEFEF;
}

body > .page-content-wrapper > .container,
body > .page-content-wrapper > .container-fluid {
  padding: 20px 20px 60px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  body > .page-content-wrapper > .container,
  body > .page-content-wrapper > .container-fluid {
    padding: 3% 4% 4%;
    margin: 0;
  }
}

body.inverse {
  background: #1a78d8;
  color: #ffffff;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

br.spacer {
  display: block;
  line-height: 30px;
}

pre {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}

.well {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.badge {
  margin-bottom: 5px;
  padding: 4px 7px;
}

.no-wrap {
  white-space: nowrap;
}

.fade-edge:after {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, fade(#ffffff, 0%)), color-stop(100%, fade(#ffffff, 100%)));
  background-image: -webkit-linear-gradient(left, fade(#ffffff, 0%), fade(#ffffff, 100%));
  background: linear-gradient(to right, fade(#ffffff, 0%), fade(#ffffff, 100%));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00$color', EndColorStr='$color');
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  height: 10000px;
  width: 60px;
}

body.inverse .fade-edge:after {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, fade(#1a78d8, 0%)), color-stop(100%, fade(#1a78d8, 100%)));
  background-image: -webkit-linear-gradient(left, fade(#1a78d8, 0%), fade(#1a78d8, 100%));
  background: linear-gradient(to right, fade(#1a78d8, 0%), fade(#1a78d8, 100%));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00$color', EndColorStr='$color');
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  height: 10000px;
  width: 60px;
}

.visible-block {
  display: block !important;
}

.visible-inline {
  display: inline !important;
}

.visible-inline-block {
  display: inline-block !important;
}

/* generating padding and margin classes */
.add-padding-1x {
  padding: 5px !important;
}

.add-padding-top-1x {
  padding-top: 5px !important;
}

.add-padding-bottom-1x {
  padding-bottom: 5px !important;
}

.add-padding-left-1x {
  padding-left: 5px !important;
}

.add-padding-right-1x {
  padding-right: 5px !important;
}

.add-margin-1x {
  margin: 5px !important;
}

.add-margin-top-1x {
  margin-top: 5px !important;
}

.add-margin-bottom-1x {
  margin-bottom: 5px !important;
}

.add-margin-left-1x {
  margin-left: 5px !important;
}

.add-margin-right-1x {
  margin-right: 5px !important;
}

.add-padding-2x {
  padding: 10px !important;
}

.add-padding-top-2x {
  padding-top: 10px !important;
}

.add-padding-bottom-2x {
  padding-bottom: 10px !important;
}

.add-padding-left-2x {
  padding-left: 10px !important;
}

.add-padding-right-2x {
  padding-right: 10px !important;
}

.add-margin-2x {
  margin: 10px !important;
}

.add-margin-top-2x {
  margin-top: 10px !important;
}

.add-margin-bottom-2x {
  margin-bottom: 10px !important;
}

.add-margin-left-2x {
  margin-left: 10px !important;
}

.add-margin-right-2x {
  margin-right: 10px !important;
}

.add-padding-3x {
  padding: 15px !important;
}

.add-padding-top-3x {
  padding-top: 15px !important;
}

.add-padding-bottom-3x {
  padding-bottom: 15px !important;
}

.add-padding-left-3x {
  padding-left: 15px !important;
}

.add-padding-right-3x {
  padding-right: 15px !important;
}

.add-margin-3x {
  margin: 15px !important;
}

.add-margin-top-3x {
  margin-top: 15px !important;
}

.add-margin-bottom-3x {
  margin-bottom: 15px !important;
}

.add-margin-left-3x {
  margin-left: 15px !important;
}

.add-margin-right-3x {
  margin-right: 15px !important;
}

.add-padding-4x {
  padding: 20px !important;
}

.add-padding-top-4x {
  padding-top: 20px !important;
}

.add-padding-bottom-4x {
  padding-bottom: 20px !important;
}

.add-padding-left-4x {
  padding-left: 20px !important;
}

.add-padding-right-4x {
  padding-right: 20px !important;
}

.add-margin-4x {
  margin: 20px !important;
}

.add-margin-top-4x {
  margin-top: 20px !important;
}

.add-margin-bottom-4x {
  margin-bottom: 20px !important;
}

.add-margin-left-4x {
  margin-left: 20px !important;
}

.add-margin-right-4x {
  margin-right: 20px !important;
}

.add-padding-5x {
  padding: 25px !important;
}

.add-padding-top-5x {
  padding-top: 25px !important;
}

.add-padding-bottom-5x {
  padding-bottom: 25px !important;
}

.add-padding-left-5x {
  padding-left: 25px !important;
}

.add-padding-right-5x {
  padding-right: 25px !important;
}

.add-margin-5x {
  margin: 25px !important;
}

.add-margin-top-5x {
  margin-top: 25px !important;
}

.add-margin-bottom-5x {
  margin-bottom: 25px !important;
}

.add-margin-left-5x {
  margin-left: 25px !important;
}

.add-margin-right-5x {
  margin-right: 25px !important;
}

.remove-padding {
  padding: 0 !important;
}

.remove-padding-top {
  padding-top: 0 !important;
}

.remove-padding-bottom {
  padding-bottom: 0 !important;
}

.remove-padding-left {
  padding-left: 0 !important;
}

.remove-padding-right {
  padding-right: 0 !important;
}

.remove-margin {
  margin: 0 !important;
}

.remove-margin-top {
  margin-top: 0 !important;
}

.remove-margin-bottom {
  margin-bottom: 0 !important;
}

.remove-margin-left {
  margin-left: 0 !important;
}

.remove-margin-right {
  margin-right: 0 !important;
}

@media (max-width: 767px) {
  .remove-max-width-xs {
    max-width: none !important;
  }
  .remove-max-height-xs {
    max-width: none !important;
  }
  .pull-left-xs {
    float: left !important;
  }
  .pull-right-xs {
    float: right !important;
  }
  .float-remove-xs {
    float: none !important;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .position-static-xs {
    position: static !important;
  }
  .remove-padding-xs {
    padding: 0 !important;
  }
  .remove-margin-xs {
    margin: 0 !important;
  }
  .fade-in-xs {
    opacity: 1 !important;
  }
  .fade-out-xs {
    opacity: 0 !important;
  }
  .display-none-xs {
    display: none !important;
  }
  .display-block-xs {
    display: block !important;
  }
  .display-inline-xs {
    display: inline !important;
  }
  .display-inline-block-xs {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .remove-max-width-sm {
    max-width: none !important;
  }
  .remove-max-height-sm {
    max-width: none !important;
  }
  .pull-left-sm {
    float: left !important;
  }
  .pull-right-sm {
    float: right !important;
  }
  .float-remove-sm {
    float: none !important;
  }
  .text-center-sm {
    text-align: center !important;
  }
  .position-static-sm {
    position: static !important;
  }
  .remove-padding-sm {
    padding: 0 !important;
  }
  .remove-margin-sm {
    margin: 0 !important;
  }
  .fade-in-sm {
    opacity: 1 !important;
  }
  .fade-out-sm {
    opacity: 0 !important;
  }
  .display-none-sm {
    display: none !important;
  }
  .display-block-sm {
    display: block !important;
  }
  .display-inline-sm {
    display: inline !important;
  }
  .display-inline-block-sm {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .remove-max-width-md {
    max-width: none !important;
  }
  .remove-max-height-md {
    max-width: none !important;
  }
  .pull-left-md {
    float: left !important;
  }
  .pull-right-md {
    float: right !important;
  }
  .float-remove-md {
    float: none !important;
  }
  .text-center-md {
    text-align: center !important;
  }
  .position-static-md {
    position: static !important;
  }
  .remove-padding-md {
    padding: 0 !important;
  }
  .remove-margin-md {
    margin: 0 !important;
  }
  .fade-in-md {
    opacity: 1 !important;
  }
  .fade-out-md {
    opacity: 0 !important;
  }
  .display-none-md {
    display: none !important;
  }
  .display-block-md {
    display: block !important;
  }
  .display-inline-md {
    display: inline !important;
  }
  .display-inline-block-md {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .remove-max-width-lg {
    max-width: none !important;
  }
  .remove-max-height-lg {
    max-width: none !important;
  }
  .pull-left-lg {
    float: left !important;
  }
  .pull-right-lg {
    float: right !important;
  }
  .float-remove-lg {
    float: none !important;
  }
  .text-center-lg {
    text-align: center !important;
  }
  .position-static-lg {
    position: static !important;
  }
  .remove-padding-lg {
    padding: 0 !important;
  }
  .remove-margin-lg {
    margin: 0 !important;
  }
  .fade-in-lg {
    opacity: 1 !important;
  }
  .fade-out-lg {
    opacity: 0 !important;
  }
  .display-none-lg {
    display: none !important;
  }
  .display-block-lg {
    display: block !important;
  }
  .display-inline-lg {
    display: inline !important;
  }
  .display-inline-block-lg {
    display: inline-block !important;
  }
}

/* ========================================================================
 * row/col styles
 * ======================================================================== */
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.col-fixed-fill {
  overflow: hidden;
}

.col-fixed-left {
  float: left;
}

.col-fixed-right {
  float: right;
}

.col-fixed-1x {
  width: 50px;
}

.col-fixed-2x {
  width: 100px;
}

.col-fixed-3x {
  width: 200px;
}

.col-fixed-4x {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .col-fixed-1x {
    width: 25px;
  }
  .col-fixed-2x {
    width: 50px;
  }
  .col-fixed-3x {
    width: 100px;
  }
  .col-fixed-4x {
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .col-fixed-1x {
    width: 12px;
  }
  .col-fixed-2x {
    width: 25px;
  }
  .col-fixed-3x {
    width: 50px;
  }
  .col-fixed-4x {
    width: 75px;
  }
}

/* ========================================================================
 * header styles
 * ======================================================================== */
header {
  background: #1A78D8;
  min-height: 50px;
  position: relative;
}

header .brand {
  padding: 10px 0;
}

header .brand img.logo {
  height: 30px;
}

header .brand a {
  min-height: 24px;
}

header .brand h1 {
  display: inline-block;
  line-height: 1;
  font-weight: 300;
  font-size: 14px;
  margin: 0 0 0 5px;
  color: #ffffff;
  padding: 6px 0 0 0;
  font-style: normal;
  text-transform: uppercase;
}

header .auth {
  margin: 0 -15px;
}

header .dropdown {
  display: inline-block;
  color: #ffffff;
  padding: 6px 0;
  min-height: 50px;
}

header .dropdown[aria-expanded=true], header .dropdown:hover {
  background: #155faa;
}

/* ========================================================================
 * navbar styles
 * ======================================================================== */
.navbar-wrapper {
  min-height: 40px;
}

.navbar.affix, .navbar.affix-bottom {
  top: 0 !important;
  width: 100%;
  z-index: 100000000;
}

@media (max-width: 767px) {
  .navbar.affix, .navbar.affix-bottom {
    position: static;
  }
}

.loading .navbar.affix {
  z-index: 1000000;
}

.navbar {
  background: #1a78d8;
  border: none;
  margin-bottom: 0;
  min-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar .container-fluid {
  padding: 0;
}

.navbar .container-fluid > .navbar-collapse,
.navbar .container-fluid > .navbar-header,
.navbar .container > .navbar-collapse,
.navbar .container > .navbar-header {
  padding: 0;
  margin: 0;
}

.navbar .container-fluid > .navbar-collapse .icon,
.navbar .container-fluid > .navbar-header .icon,
.navbar .container > .navbar-collapse .icon,
.navbar .container > .navbar-header .icon {
  margin-bottom: 4px;
}

.navbar-nav {
  margin: 7.5px 0;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 0;
  }
}

.navbar-nav.nav-stacked > li {
  float: none !important;
}

.navbar-menu-toggle {
  float: left;
  height: 40px;
  padding: 0 8px;
  line-height: 40px;
  font-size: 18px;
  background: #215080;
  color: #ffffff;
}

.navbar-menu-toggle:hover, .navbar-menu-toggle:focus, .navbar-menu-toggle:active {
  color: #ffffff;
  background: #173757;
}

.navbar-menu-toggle[aria-expanded=true] {
  background: #193c60;
}

.navbar-toggle {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: #ffffff;
  margin-left: 0;
  padding: 0 15px;
  line-height: 40px;
  text-transform: uppercase;
  background: #155faa;
}

.navbar > .container .navbar-brand a,
.navbar > .container-fluid .navbar-brand a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-top: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-default .navbar-nav > li a {
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 15px;
  line-height: 40px;
  position: relative;
}

.navbar-default .navbar-nav > li a:hover, .navbar-default .navbar-nav > li a:focus, .navbar-default .navbar-nav > li a:active {
  background: #3d92e8;
  color: #ffffff;
}

.navbar-default .navbar-nav > li a:hover {
  background: #3d92e8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:active {
  background: #3d92e8;
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:hover {
  background: #3d92e8;
}

.navbar-collapse.dropdown {
  background: #222;
  margin-right: -10px;
  margin-left: -10px;
  padding-bottom: 0;
  display: none !important;
  overflow: hidden !important;
}

.navbar-collapse.dropdown.collapsing {
  display: block !important;
}

.navbar-collapse.dropdown.in {
  display: block !important;
  overflow: visible !important;
}

.navbar-collapse.tiles ul.nav {
  height: 140px;
}

.navbar-collapse.tiles ul.nav li {
  display: inline-block;
  text-align: center;
  margin: 10px 5px;
}

.navbar-collapse.tiles ul.nav li a {
  text-decoration: none;
  width: 120px;
  height: 120px;
  padding: 15px;
  background: #444;
  display: block;
  overflow: hidden;
  line-height: 1.4em;
}

.navbar-collapse.tiles ul.nav li li a {
  background: #777777;
}

.navbar-collapse.tiles ul.nav li a:hover {
  background: #555;
}

.navbar-collapse.tiles ul.nav li li a:hover {
  background: #888888;
}

.navbar-collapse.tiles ul.nav li a i {
  font-size: 46px;
  display: block;
  margin-bottom: 10px;
}

.navbar-collapse.tiles ul.nav li ul {
  padding-left: 140px;
  margin-top: -130px;
  display: none;
}

.navbar-collapse.tiles ul.nav li.has-sub > a:after {
  width: 7px;
  height: 120px;
  background: #757575;
  display: inline-block;
  content: " ";
  top: 0;
  right: 0;
  z-index: 100000;
  position: absolute;
}

.navbar-collapse.tiles ul.nav li.has-sub[aria-expanded=true] > a:after {
  right: auto;
  left: 0;
}

.navbar-collapse.tiles ul.nav li.has-sub > a:before {
  display: inline-block;
  width: 0;
  height: 0;
  top: 45%;
  right: 1px;
  position: absolute;
  z-index: 1000000;
  content: " ";
  vertical-align: middle;
  border-left: 4px dashed;
  border-top: 4px solid\9;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  color: #dadada;
}

.navbar-collapse.tiles ul.nav li.has-sub[aria-expanded=true] > a:before {
  right: auto;
  left: -3px;
  border-right: 4px dashed;
  border-left: 4px dashed transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #ffffff;
  background: #1a78d8;
  border-color: #1a78d8;
}

/* ========================================================================
 * sidebar styles
 * ======================================================================== */
.page-content-wrapper, .page-content-wrapper[data-container-behaviour=static] {
  position: relative;
  left: 0;
  margin-left: 0;
  min-height: calc(100% - 130px);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-content-wrapper.fixed,
.page-content-wrapper.fixed > div,
.page-content-wrapper.fixed > .sidebar-wrapper {
  max-height: calc(100% - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}

.page-content-wrapper.fixed,
.page-content-wrapper.fixed > .sidebar-wrapper {
  max-height: 100%;
}

@media (max-width: 767px) {
  .page-content-wrapper {
    min-height: calc(100% - 205px);
  }
  .page-content-wrapper.fixed,
  .page-content-wrapper.fixed > div {
    max-height: calc(100% - 205px);
  }
  .page-content-wrapper.fixed > .sidebar-wrapper {
    max-height: 100%;
  }
}

.page-content-wrapper[data-container-push=true] {
  left: 350px;
}

.page-content-wrapper[data-push-side=right][data-container-push=true] {
  left: auto;
  right: 350px;
}

.page-content-wrapper[data-container-divide=true] {
  margin-left: 350px;
}

.page-content-wrapper[data-divide-side=right][data-container-divide=true] {
  margin-left: auto;
  padding-right: 350px;
}

.sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: -350px;
  width: 350px;
  height: 100%;
  overflow-y: auto;
  background: #222;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-wrapper.affix {
  position: fixed;
  top: 50px;
}

.sidebar-wrapper.inverse {
  background: #ffffff;
  color: #222;
}

.sidebar-wrapper[data-side=right] {
  left: auto;
  right: -350px;
}

.sidebar-wrapper.toggled {
  left: 0;
  right: auto;
}

.sidebar-wrapper[data-side=right].toggled {
  left: auto;
  right: 0;
}

ul.sidebar-messages {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 10px;
}

ul.sidebar-messages > li {
  margin: 15px 0;
}

.sidebar-messages .message {
  background: none;
  padding: 5px 10px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #ffffff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 350px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* ========================================================================
 * breadcrumb styles
 * ======================================================================== */
.breadcrumb {
  margin: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  background: #282828;
  color: #ffffff;
  min-height: 30px;
  padding: 5px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.breadcrumb > li + li:before {
  padding: 0 1px;
}

.breadcrumb > li > a > .icon {
  padding-bottom: 3px;
}

/* ========================================================================
 * footer styles
 * ======================================================================== */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  color: #cbcbcb;
  background: #008ba6;
  z-index: 1000;
}

footer > .container,
footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

footer > .container p,
footer > .container-fluid p {
  line-height: 40px;
  margin-bottom: 0;
}

footer .icon {
  font-size: 37px;
  vertical-align: middle;
  color: #cbcbcb;
}

footer a, footer a:hover {
  color: #cbcbcb;
}

/* ========================================================================
 * body styles
 * ======================================================================== */
.body-wrapper a:hover {
  text-decoration: underline;
}

.page-header {
  margin: 0 0 20px;
}

.page-header > h1 {
  margin-top: 0;
}

.lead {
  margin-bottom: 0;
}

/* ========================================================================
 * alert styles
 * ======================================================================== */
.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  position: relative;
  padding: 15px 50px 15px 15px;
}

.alert .icon {
  padding-bottom: 3px;
  margin-right: 6px;
}

.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  line-height: 1;
  padding: 0 10px;
  font-size: 12px;
  background: #222;
  color: #ffffff;
}

.alert.alert-success {
  color: #ffffff;
  background: #5cb85c;
}

.alert.alert-success .close {
  background: #060f06;
}

.alert.alert-info {
  color: #ffffff;
  background: #009DA7;
}

.alert.alert-info .close {
  background: black;
}

.alert.alert-warning {
  color: #ffffff;
  background: #f0ad4e;
}

.alert.alert-warning .close {
  background: #3a2405;
}

.alert.alert-danger {
  color: #ffffff;
  background: #d9534f;
}

.alert.alert-danger .close {
  background: #220807;
}

/* ========================================================================
 * message styles
 * ======================================================================== */
.message {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid transparent;
  background: #f9f9f9;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.message h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.message h4 .icon {
  padding-bottom: 3px;
  margin-right: 5px;
}

.message p:last-child {
  margin-bottom: 0;
}

.message code {
  border-radius: 3px;
}

.message + .message {
  margin-top: -5px;
}

.message-success {
  border-left-color: #5cb85c;
}

.message-success h4 {
  color: #5cb85c;
}

.message-info {
  border-left-color: #009DA7;
}

.message-info h4 {
  color: #009DA7;
}

.message-warning {
  border-left-color: #f0ad4e;
}

.message-warning h4 {
  color: #f0ad4e;
}

.message-danger {
  border-left-color: #d9534f;
}

.message-danger h4 {
  color: #d9534f;
}

/* ========================================================================
 * dropdown menu styles
 * ======================================================================== */
.dropdown-menu {
  border: none;
  background: #e4e4e4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.dropdown-menu.arrow:before, .dropdown-menu.arrow.arrow-top-left:before {
  position: absolute;
  top: -5px;
  left: 15px;
  right: auto;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #e4e4e4;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu.arrow.arrow-top-right:before {
  left: auto;
  right: 15px;
}

.dropdown-menu.dark {
  background: #222;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu.dark a {
  color: #ffffff;
}

.dropdown-menu.dark.arrow:before {
  border-bottom-color: #222;
}

.dropdown-menu.tiles {
  padding: 4px;
  max-width: 385px;
}

.dropdown-menu.tiles > li {
  padding: 0;
  list-style: none;
  display: inline-block;
  float: left;
}

.dropdown-menu.tiles li a {
  display: block;
  margin: 4px;
  padding: 5px;
  list-style: none;
  width: 85px;
  height: 85px;
  text-align: center;
  vertical-align: text-bottom;
  color: #ffffff;
  text-decoration: none;
  background: #444;
}

.dropdown-menu.tiles li a:hover {
  background: #555;
}

.dropdown-menu.tiles li a .icon {
  display: block;
  font-size: 35px;
  margin: 3px 0 7px;
  height: 35px;
}

.dropdown-menu.tiles li a .name {
  display: block;
  line-height: 14px;
  font-size: 12px;
  height: 28px;
  overflow: hidden;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

/* ========================================================================
 * loading styles
 * ======================================================================== */
.loading {
  position: relative;
}

.loading[data-loading-style=overlay] .loading-bg {
  background: #222;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  opacity: 0.6;
  filter: "alpha(opacity=60)";
}

.loading[data-loading-style=icon-only] .loading-bg {
  display: none;
}

.loading[data-loading-inverse=true] .loading-bg {
  background: #ffffff;
}

.loading .loading-animation {
  position: absolute;
  z-index: 10000001;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 75px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading .loading-animation .logo img {
  max-width: 50px;
}

.loading .loading-animation .logo {
  position: relative;
  width: 50px;
  margin: 0 auto;
}

.loading .loading-animation .logo .pulse-line,
.loading .loading-animation .logo .circle {
  fill: none;
  stroke: #ffffff;
}

.loading[data-loading-inverse=true] .loading-animation .logo .pulse-line,
.loading[data-loading-inverse=true] .loading-animation .logo .circle {
  stroke: #222;
}

.loading .loading-animation .logo .circle {
  stroke-dasharray: 100;
  opacity: 0.5;
  filter: "alpha(opacity=50)";
}

.loading .loading-animation .logo .pulse-line {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: dash 4s linear infinite;
  opacity: 0;
  filter: "alpha(opacity=0)";
}

@keyframes dash {
  0% {
    opacity: 0.9;
    filter: "alpha(opacity=90)";
  }
  10% {
    stroke-dashoffset: 200;
    opacity: 0.9;
    filter: "alpha(opacity=90)";
  }
  70% {
    stroke-dashoffset: 500;
    opacity: 0.9;
    filter: "alpha(opacity=90)";
  }
  80% {
    opacity: 0;
    filter: "alpha(opacity=0)";
  }
  100% {
    opacity: 0;
    filter: "alpha(opacity=0)";
  }
}

.loading .loading-animation .logo .signal {
  border: 5px solid #ffffff;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  opacity: 0;
  filter: "alpha(opacity=0)";
  position: absolute;
  top: 0;
  animation: pulsate 4s ease-out infinite;
  animation-delay: 1.5s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes pulsate {
  0%, 30% {
    opacity: 0;
    filter: "alpha(opacity=0)";
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  40% {
    opacity: 1;
    filter: "alpha(opacity=100)";
  }
  60% {
    opacity: 0;
    filter: "alpha(opacity=0)";
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.loading .loading-animation p {
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  margin-top: 4px;
  text-transform: uppercase;
}

.loading[data-loading-inverse=true] .loading-animation p {
  color: #222;
}

/* ui fixes */
#dp_swf_engine {
  display: none;
}

/* ========================================================================
 * form styles
 * ======================================================================== */
.form-horizontal {
  max-width: 750px;
}

.control-label {
  font-weight: 400;
}

.input-group-btn .control-label {
  font-size: 14px;
  padding-top: 0;
  margin: 0 5px;
}

.input-group-btn .btn,
.input-group-btn .btn:hover,
.input-group-btn .btn:focus {
  border-color: #ccc;
}

.form-control, .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.btn, .btn {
  text-decoration: none;
}

a.btn .icon-caret, .btn .icon-caret {
  padding: 0 0 0 8px;
  margin-left: 5px;
  border-left: 1px solid #e4e4e4;
}

a.btn.active, a.btn:active, .btn.active, .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a.btn:hover, .btn:hover {
  text-decoration: none;
}

.btn-default, .btn-default:focus {
  color: #222;
  background-color: #ffffff;
}

.btn-default:hover {
  background-color: #e6e6e6;
}

.btn-primary, .btn-primary:focus {
  color: #ffffff;
  background-color: #1a78d8;
  border-color: #1a78d8;
}

.btn-primary:hover {
  background-color: #3d92e8;
  border-color: #1a78d8;
}

.btn-bordered, .btn-bordered:focus, .btn-bordered:hover {
  border: 1px solid #ccc;
}

.btn-group > .btn-label {
  position: relative;
  float: left;
  color: #222;
  background-color: transparent;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
}

.btn-group > .btn-label.btn-bordered {
  border-color: #e4e4e4;
  margin-left: -1px;
  margin-right: -1px;
}

.remove-icon-ring-on-hover:hover .fw-ring {
  display: none;
}

.has-form-control-btn {
  position: relative;
}

.form-control-btn,
.form-control-btn:focus,
.form-control-btn:active,
.form-control-btn:hover {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: transparent;
  border: none;
  z-index: 5;
  opacity: 0.7;
  font-size: 14px;
}

.form-control-btn:hover {
  opacity: 1;
}

.form-control {
  width: 100%;
}

.form-control-xs {
  min-width: calc(750px/12);
}

.form-control-sm {
  min-width: calc(750px/9);
}

.form-control-md {
  min-width: calc(750px/6);
}

.form-control-lg {
  min-width: calc(750px/2);
}

input[type=number].form-control {
  padding: 0 0 0 12px;
}

.input-wrap {
  width: 100%;
}

.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-wrap .btn.wrap-input-right {
  border-left: none;
}

.input-group-addon {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.file-upload-control input[type=file] {
  display: none;
}

.file-upload-control input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

@media only screen and (max-width: 768px) {
  .input-group.res-wrap,
  .input-group.res-wrap .form-control,
  .input-group.res-wrap .control-label,
  .input-group.res-wrap .input-group-btn {
    min-width: 100%;
    display: block;
    float: none;
  }
  .input-group.res-wrap .control-label {
    line-height: 34px;
    margin: 5px 0 0 0;
  }
  .form-control-xs {
    min-width: calc(750px/24);
  }
  .form-control-sm {
    min-width: calc(750px/18);
  }
  .form-control-md {
    min-width: calc(750px/12);
  }
  .form-control-lg {
    min-width: calc(750px/4);
  }
}

/* ========================================================================
 * table styles
 * ======================================================================== */
.table thead th {
  font-weight: 300;
}

.table .form-control {
  min-width: 100%;
}

@media only screen and (max-width: 767px) {
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-responsive tr {
    border: 1px solid #ccc;
  }
  .table-responsive.table-striped {
    border: none;
  }
  .table-responsive tbody > tr > td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }
  .table-responsive tr > td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }
  .table-responsive tbody > tr > td:before {
    content: attr(data-title);
  }
}

/* ========================================================================
 * list table styles
 * ======================================================================== */
.table.list-table {
  min-width: 100%;
  display: block;
}

.table.list-table thead,
.table.list-table tbody {
  vertical-align: top;
}

.table.list-table > tbody > tr > td,
.table.list-table > tbody > tr > th,
.table.list-table > tfoot > tr > td,
.table.list-table > tfoot > tr > th,
.table.list-table > thead > tr > td,
.table.list-table > thead > tr > th {
  border: none;
  padding: 8px;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}

.table.list-table .h1, .table.list-table .h2, .table.list-table .h3, .table.list-table .h4, .table.list-table .h5, .table.list-table .h6, .table.list-table h1, .table.list-table h2, .table.list-table h3, .table.list-table h4, .table.list-table h5, .table.list-table h6 {
  margin: 0;
}

.table.list-table tr {
  border-bottom: 5px solid transparent;
}

.table.list-table > thead > tr.sort-row {
  display: none;
}

.table.list-table > tbody > tr:nth-of-type(odd),
.table.list-table > tbody > tr:nth-of-type(even) {
  background-color: transparent;
}

.table.list-table > tbody > tr.child ul {
  text-align: left;
  display: block;
}

.table.table-hover > tbody > tr:hover td:not(.dataTables_empty) {
  background: #e4e4e4 !important;
}

.table.table-hover > tbody > tr:hover td:not(.dataTables_empty).fade-edge:after {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, fade(#e4e4e4, 0%)), color-stop(100%, fade(#e4e4e4, 100%)));
  background-image: -webkit-linear-gradient(left, fade(#e4e4e4, 0%), fade(#e4e4e4, 100%));
  background: linear-gradient(to right, fade(#e4e4e4, 0%), fade(#e4e4e4, 100%));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00$color', EndColorStr='$color');
  bottom: 0;
  max-height: 100%;
  position: absolute;
  right: 0;
  height: 10000px;
  width: 60px;
}

.table.table-selectable > tbody > tr:hover {
  cursor: pointer;
}

.table.table-selectable > tbody > tr:hover td:not(.dataTables_empty):first-child:before,
.table.table-selectable > tbody > tr.DTTT_selected td:not(.dataTables_empty):first-child:before {
  position: absolute;
  display: block;
  content: "";
  background-color: transparent;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: .65rem;
  width: 1.3rem;
  z-index: 102;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 0.3rem;
  left: auto;
  top: 0.3rem;
}

.table.table-selectable.grid-view > tbody > tr.DTTT_selected td:not(.dataTables_empty):first-child {
  border: 5px solid #007d85;
}

.table.table-selectable:not(.grid-view) > tbody > tr.DTTT_selected td:not(.dataTables_empty) {
  background: #2C313B !important;
  color: #fff;
}

.table.table-selectable > tbody > tr:hover td:not(.dataTables_empty):first-child:after,
.table.table-selectable > tbody > tr.DTTT_selected td:not(.dataTables_empty):first-child:after,
.table.table-selectable > tbody > tr[data-type=selectable] td:not(.dataTables_empty):first-child:after {
  position: absolute;
  display: block;
  border-top: 32px solid #007d85;
  border-left: 32px solid transparent;
  right: 0;
  content: "";
  top: 0;
  z-index: 101;
}

.table.table-selectable > tbody > tr[data-type=selectable]:not(:hover):not(.DTTT_selected) td:not(.dataTables_empty):first-child:after {
  border-top-color: #e4e4e4;
}

.table.list-table thead tr.bulk-action-row {
  display: block;
  margin: 0 15px;
}

.table.list-table thead tr.bulk-action-row > th, .table.list-table thead tr.bulk-action-row > td {
  display: block !important;
}

.table.list-table thead tr.bulk-action-row > th > div, .table.list-table thead tr.bulk-action-row > td > div,
.table.list-table thead tr.bulk-action-row > th > span, .table.list-table thead tr.bulk-action-row > td > span,
.table.list-table thead tr.bulk-action-row > th > ul, .table.list-table thead tr.bulk-action-row > td > ul {
  margin: 0 -10px;
}

.table.list-table > thead.block > tr > td:not(:empty):before,
.table.list-table > thead.block > tr > th:not(:empty):before {
  content: attr(data-for);
}

.table.list-table:not(.grid-view) .content-fill {
  width: 1%;
}

.table.list-table:not(.grid-view) > tbody > tr > td,
.table.list-table:not(.grid-view) > tbody > tr > th {
  background: #f5f5f5;
}

.table.list-table:not(.grid-view) > tbody > tr > td.fade-edge:after,
.table.list-table:not(.grid-view) > tbody > tr > th.fade-edge:after {
  display: none;
}

.table.list-table:not(.grid-view) tbody {
  margin: 0 15px;
}

.table.list-table:not(.grid-view) .thumbnail {
  max-width: 60px;
  min-width: 60px;
}

.table.list-table.grid-view > thead > tr {
  width: auto;
}

.table.list-table.grid-view > tbody > tr > td,
.table.list-table.grid-view > tbody > tr > th,
.table.list-table.grid-view > tfoot > tr > td,
.table.list-table.grid-view > tfoot > tr > th {
  display: block;
  white-space: nowrap;
  padding: 10px 0;
}

.table.list-table.grid-view > tbody > tr > td[data-grid-label]:before,
.table.list-table.grid-view > tbody > tr > th[data-grid-label]:before {
  content: attr(data-grid-label):;
  font-weight: 600;
  margin-right: 8px;
}

.table.list-table.grid-view > tbody > tr.header-row {
  display: none;
}

.table.list-table.grid-view > thead > tr > td,
.table.list-table.grid-view > thead > tr > th {
  display: inline-block;
}

.table.list-table.grid-view > thead > tr > td:not(:empty):before,
.table.list-table.grid-view > thead > tr > th:not(:empty):before {
  content: attr(data-for);
}

.table.list-table.grid-view .hidden-on-grid-view {
  display: none;
}

.table.list-table.grid-view .padding-reduce-on-grid-view {
  padding: 2px;
}

.table.list-table.grid-view .text-left-on-grid-view {
  text-align: left;
}

.table.list-table.grid-view .text-right-on-grid-view {
  text-align: right;
}

.table.list-table.grid-view .text-center-on-grid-view {
  text-align: center;
}

.table.list-table {
  width: auto;
  display: block;
  margin-right: -15px;
  margin-left: -15px;
}

.table.list-table > thead,
.table.list-table > tbody,
.table.list-table > tfoot {
  display: block;
}

.table.list-table.grid-view tr {
  display: inline-block;
}

.table.list-table.grid-view > tbody > tr {
  padding: 15px 15px 0;
}

.table.list-table.grid-view .filter-row,
.table.list-table thead.block .filter-row {
  background: #e4e4e4;
  margin: 0 15px;
  padding: 15px;
  display: block;
}

.table.list-table.grid-view .filter-row th:empty,
.table.list-table thead.block .filter-row th:empty {
  display: none;
}

.table.list-table.grid-view tr td {
  padding: 0;
}

@media (max-width: 767px) {
  .table.list-table > thead > tr.filter-row,
  .table.list-table > thead > tr.filter-row > td,
  .table.list-table > thead > tr.filter-row > th {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .table.list-table.grid-view tr {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .table.list-table.grid-view tr {
    width: 50%;
  }
  .table.list-table:not(.grid-view) .content-fill {
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .table.list-table.grid-view tr {
    width: 33.3%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .table.list-table.grid-view tr {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .table.list-table.grid-view tr {
    width: 10%;
  }
}

/* ========================================================================
 * data table styles
 * ======================================================================== */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: "font-wso2";
}

.dataTables_wrapper ul.sort-list li a:before,
.dataTables_wrapper ul.sort-list li a.sorting_asc:before,
.dataTables_wrapper ul.sort-list li a.sorting_desc:before {
  font-family: "font-wso2";
  margin-right: 10px;
  font-size: 11px;
  opacity: 1;
  filter: "alpha(opacity=100)";
}

.dataTables_wrapper ul.sort-list li a:before {
  opacity: 0.2;
  filter: "alpha(opacity=20)";
}

table.dataTable thead .sorting:after,
.dataTables_wrapper ul.sort-list li a:before {
  content: "\e673";
}

table.dataTable thead .sorting_asc:after,
.dataTables_wrapper ul.sort-list li a.sorting_asc:before {
  content: "\e64b";
}

table.dataTable thead .sorting_desc:after,
.dataTables_wrapper ul.sort-list li a.sorting_desc:before {
  content: "\e663";
}

table.dataTable thead .sorting {
  padding-right: 30px !important;
}

table.dataTable thead .no-sort:after {
  display: none !important;
}

table.dataTable thead .no-sort {
  pointer-events: none !important;
  cursor: default !important;
}

table.dataTable tr.filter-row td,
table.dataTable tr.filter-row th {
  padding: 0 8px 10px;
}

.dataTables_wrapper > div.row > div {
  text-align: left;
}

.dataTables_filter,
.dataTables_toolbar,
.dataTables_length,
.dataTables_info {
  text-align: left;
  float: left;
}

.dataTables_toolbar,
.dataTables_paginate {
  float: right;
}

.dataTablesTop,
.dataTablesBottom {
  margin: 0;
}

.dataTablesTop:after,
.dataTablesBottom:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.dataTablesBottom .dataTables_info {
  padding: 4px 0 0 10px;
  margin-left: 10px;
  border-left: 1px solid #e4e4e4;
}

.dataTables_filter .search-icon {
  position: relative;
  z-index: 1;
  right: -10px;
  top: 0;
  color: #7B7B7B;
  cursor: pointer;
}

.dataTables_filter input {
  padding: 0 15px 0 35px;
  min-width: 300px;
  margin: 0 0 0 -14px !important;
}

.table.dataTable tbody tr.active td,
.table.dataTable tbody tr.active th,
.table.dataTable tbody tr.active:hover td,
.table.dataTable tbody tr.active:hover th {
  background-color: #1a78d8 !important;
}

.table.dataTable tbody tr td.dataTables_empty {
  overflow: visible;
  cursor: default;
  background: none;
  padding: 0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  top: 50%;
  left: 10px;
  margin-top: -8px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:first-child,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:first-child {
  padding-left: 40px !important;
}

/* ========================================================================
 * thumbnail styles
 * ======================================================================== */
.thumbnail {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.thumbnail.icon {
  border: none;
  margin: 0;
  background: #1a78d8;
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.thumbnail.icon:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.thumbnail.icon > .square-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail.icon .square-element:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail.icon img {
  width: 100%;
}

/* ========================================================================
 * thumbnail list styles
 * ======================================================================== */
.thumbnail-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumbnail-list:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.thumbnail-list li {
  float: left;
}

/* ========================================================================
 * pagination styles
 * ======================================================================== */
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.pagination > li > a,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span,
.pagination > li > span:hover {
  text-decoration: none;
  color: #1a78d8;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #1a78d8;
  border-color: #1a78d8;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  display: none;
}

/* ========================================================================
 * panel styles
 * ======================================================================== */
.panel-group .panel, .panel-heading, .panel-footer, .panel-body {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

.panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

.panel-default > .panel-heading {
  background: transparent;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* ========================================================================
 * noty styles
 * ======================================================================== */
#noty_topRight_layout_container {
  position: absolute !important;
}

#noty_topRight_layout_container, #noty_topLeft_layout_container {
  margin-top: 100px !important;
}

.noty_bar {
  height: auto;
  border: none;
  padding: 10px 20px;
}

.noty_container_type_notification {
  background-color: #222;
  color: #ffffff;
}

.noty_container_type_warning {
  background-color: #ffeaa8;
  color: #826200;
}

.noty_container_type_error {
  background-color: #e74c3c;
  color: #ffffff;
}

.noty_container_type_information {
  background-color: #78c5e7;
  color: #ffffff;
}

.noty_container_type_success {
  background-color: #40d47e;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #noty_topRight_layout_container, .noty_container_type_information, #noty_topLeft_layout_container, .noty_bar {
    width: 100% !important;
    left: 0;
    right: 0;
  }
}

/* ========================================================================
 * tiles styles
 * ======================================================================== */
ul.tiles {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.tiles li {
  display: inline-block;
}

ul.tiles li.square {
  min-width: 80px;
  position: relative;
}

ul.tiles li.square:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

ul.tiles li.square > .square-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul.tiles li a {
  text-decoration: none;
  padding: 5px;
  background: #f3f3f3;
  color: #222;
  display: block;
  overflow: hidden;
  line-height: 1.2em;
  white-space: normal;
  text-transform: capitalize;
}

ul.tiles .icon {
  display: block;
  font-size: 15px;
  margin: 0 auto 5px;
}

/* ========================================================================
 * modal popup styles
 * ======================================================================== */
.modal-open {
  padding: 0 !important;
}

.modal {
  z-index: 100000001;
  padding: 0 !important;
}

.modal-backdrop {
  z-index: 100000000;
}

.modal-content {
  background: #222;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
  padding: 15px 15px 0;
}

.modal-header .close {
  color: #ffffff;
  text-shadow: none;
  opacity: 0.8;
}

.modal-body {
  padding: 0 15px;
}

.modal-dialog {
  margin: 80px auto;
}

.modal-footer {
  border-top: none;
}

@media only screen and (max-width: 768px) {
  .modal {
    padding: 0 15px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .modal-dialog {
    width: 1000px;
  }
}

/* ========================================================================
 * list group styles
 * ======================================================================== */
.list-group-item:first-child,
.list-group-item:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

a.list-group-item:hover {
  text-decoration: none;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover, .active > .list-group-item,
.active > .list-group-item:focus,
.active > .list-group-item:hover {
  color: #ffffff;
  background: #1a78d8;
  border-color: #1a78d8;
}

.list-group-item.active a {
  color: #fff;
  text-decoration: none;
}

.list-group.nav > .list-group-item {
  padding: 0;
}

/* ========================================================================
 * tree styles
 * ======================================================================== */
.tree-view,
.tree-view ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tree-view ul {
  margin-left: 0.7em;
  position: relative;
}

.tree-view ul li {
  display: none;
}

.tree-view li[aria-expanded=true] > ul > li {
  display: list-item;
}

.tree-view li {
  margin: 0;
  padding: 0 2em;
  line-height: 2em;
  position: relative;
}

.tree-view .branch {
  cursor: pointer;
}

.tree-view li > .icon {
  font-family: "font-wso2";
  font-style: normal;
  background: #1a78d8;
  color: #ffffff;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
}

.tree-view li > .icon:before {
  content: "\e687";
}

.tree-view li[aria-expanded=true] > .icon:before {
  content: "\e685";
}

.tree-view li a, .tree-view li a:hover {
  text-decoration: none;
}

.tree-view li button:active,
.tree-view li button:focus {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tree-view.tree-view-lines ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 0;
  border-left: 1px solid;
}

.tree-view.tree-view-lines ul li:before {
  content: "";
  display: block;
  width: 20px;
  height: 0;
  border-top: 1px solid;
  margin-top: -1px;
  position: absolute;
  top: 1em;
  left: 0;
}

.tree-view .checkbox,
.tree-view .radio {
  margin: 0;
  display: inline-block;
}

.tree-view .checkbox input[type=checkbox],
.tree-view .checkbox-inline input[type=checkbox],
.tree-view .radio input[type=radio],
.tree-view .radio-inline input[type=radio] {
  margin-top: 6px;
}

/* ========================================================================
 * asset details styles
 * ======================================================================== */
.asset-image {
  max-width: 150px;
  background: #1a78d8;
  float: none;
}

.asset-desc .asset-name {
  font-size: 24px;
  margin-bottom: 0;
}

.asset-desc .asset-publisher {
  font-size: 14px;
  margin-bottom: 20px;
}

/* ========================================================================
 * switch styles
 * ======================================================================== */
.switch {
  display: inline-block;
  width: 40px;
  cursor: pointer;
  position: relative;
  margin-top: -4px;
}

.switch > input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.switch > input[type=checkbox]:checked + .helper + .text {
  display: inline-block;
}

.switch > input[type=checkbox] + .helper:after {
  position: absolute;
  left: 18px;
  top: -2px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: #237bd5;
  z-index: 2;
  border-radius: 12px;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.switch > input[type=checkbox]:not(:checked) + .helper:after {
  left: 1px !important;
  background: #eaeaea;
}

.switch > input[type=checkbox]:not(:checked) + .helper:before {
  background: #a6a6a6 !important;
}

.switch > input[type=checkbox]:disabled + .helper:after {
  cursor: default !important;
  background: #484e52 !important;
}

.switch > input[type=checkbox]:disabled + .helper:before {
  cursor: default !important;
  background: #6f7579 !important;
}

.switch .helper {
  padding-left: 52px;
  position: relative;
}

.switch .helper:before {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  content: "";
  width: 40px;
  height: 16px;
  cursor: pointer;
  background: #25262b;
  margin-left: 2px;
  z-index: 1;
  border-radius: 8px;
}

.switch .text {
  display: none;
  margin-left: 5px;
  font-weight: 100;
}

/* ========================================================================
 * radio button styles
 * ======================================================================== */
.radio {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  font-weight: 300;
}

.radio > input[type=radio] {
  position: absolute;
  opacity: 0;
}

.radio > input[type=radio]:checked + .helper:after {
  position: absolute;
  display: block;
  content: "";
  color: #1a78d8;
  z-index: 2;
  font-size: 16px;
  font-weight: bold;
  left: 5px;
  margin-left: 0;
  top: 50%;
  margin-top: -5px;
  background-color: #1a78d8;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.radio > input[type=radio]:checked + .helper:before {
  border: 2px #1a78d8 solid;
}

.radio > input[type=radio]:disabled + .helper:before {
  cursor: default;
  background: #e6e6e6;
}

.radio > input[type=radio]:disabled + .helper:after {
  background-color: #8a8a8a;
}

.radio > input[type=radio]:not(:disabled) + .helper:before {
  border-color: #919191;
}

.radio > input[type=radio]:not(:disabled) + .helper:before {
  border-color: #919191;
}

.radio .helper {
  padding-left: 26px;
  padding-top: 1px;
  position: relative;
}

.radio .helper:before {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  content: "";
  text-indent: -9999px;
  border: 2px #d9d9d9 solid;
  z-index: 1;
  opacity: 1;
  top: -1px;
  left: 0;
  border-radius: 100%;
}

/* ========================================================================
 * checkbox styles
 * ======================================================================== */
.checkbox {
  display: inline-block;
  margin: 0 10px 0 0;
  cursor: pointer;
  font-weight: 300;
}

.checkbox > input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.checkbox > input[type=checkbox]:checked + .helper:before {
  border: 2px #1a78d8 solid;
}

.checkbox > input[type=checkbox]:checked + .helper:after {
  position: absolute;
  display: block;
  content: "\e617";
  font-size: 7pt;
  height: 16px;
  width: 16px;
  line-height: 16px;
  z-index: 2;
  top: 2px;
  margin-top: 0;
  left: 2px;
  margin-left: 0;
  text-align: center;
  background: #1a78d8;
  color: #fff;
  font-family: font-wso2;
}

.checkbox > input[type=checkbox]:not(:checked) + .helper:after {
  display: none;
}

.checkbox > input[type=checkbox]:disabled + .helper:before {
  cursor: default;
  background: #e6e6e6;
}

.checkbox > input[type=checkbox]:disabled + .helper:after {
  color: #8a8a8a;
}

.checkbox > input[type=checkbox]:not(:disabled) + .helper:before {
  border-color: #526A84;
}

.checkbox > input[type=checkbox] :not(:disabled) + .helper:before {
  border-color: #526A84;
}

.checkbox .helper {
  padding-left: 23px;
  position: relative;
}

.checkbox .helper:before {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  content: "";
  text-indent: -9999px;
  border: 2px #eaf0f1 solid;
  z-index: 1;
  opacity: 1;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .tab-content > .tab-pane {
    display: none !important;
  }
  .tab-content > .active {
    display: block !important;
  }
}
